.elec-page {
  width: 100%;
  height: calc(100% - 110px);
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 20px;
  padding: 20px;
  .background {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.7;
  }
  .data-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .four-usagecomp {
      display: flex;
      gap: 10px;
      width: 100%;
      height: 9%;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .usage {
        width: 25%;
        height: 100%;
        border: 1px solid #4f79ac;
        background: #061830a6;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 12px;
        .title {
          color: #40ace9;
        }
        .value {
          font-size: 20px;
          font-weight: 600;
          .unit {
            font-size: 14px;
            font-weight: 400;
            margin-left: 4px;
          }
        }
      }
    }

    .device-position {
      width: 100%;
      height: 89%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;

      .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      .title-box {
        padding: 12px;
        position: absolute;
        top: 0;
        left: 0;
      }
      .positionBg {
        width: 100%;
      }
      .table-box{
        height: calc(100% - 46px);
        width: 100%;
        overflow: hidden;
        .table{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          border-radius: 10px;
          border: 1px solid #364250;

          .name{
            width: 30%;
          }
          .wh{
            width: 30%;
          }
          .percent{
            width: 40%;
          }

          .thead{
            display: flex;
            width: 100%;
            padding-right: 6px;
            align-items: center;
            height: 40px;
            background: #2A3D60;
            .th{
              position: relative;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              .arrow{
                margin-left: 6px;
                cursor: pointer;
                transition: 0.2s;
                font-size: 16px;
                &.down{
                  transform: rotate(180deg);
                
                }
                &.up{
                  color: #167bff;
                }
              }
              .arrow:hover{
                opacity: 0.7;
              }
            }
            .th::after{
              content:"";
              position: absolute;
              top: 50%;
              right: 0;
              width: 1px;
              height: 60%;
              transform: translateY(-50%);
              background:#4a607a;
            }
            .th:last-child::after{
              width: 0;
            }
          }
          .tbody{
            width: 100%;
            height: calc(100% - 40px);
            overflow-y: scroll;
            background:rgba(35, 46, 59, 0.137);
            .tr{
              width: 100%;
              display: flex;
              align-items: center;
              border-bottom: 1px solid #344253;
              transition: 0.25s;
              
              .td{
                display: flex;
                align-items: center;
                padding: 10px 12px;
                border-right: 1px solid #344253;

                &.name{
                  color: #87b7d3;
                }

                &.wh{
                  font-size: 18px;
                  font-weight: 500;
                  color: white;
                  .unit{
                    font-size: 12px;
                    margin-left: 6px;
                    font-weight: 300;
                    color: #bac3ce;
                  }
                }
              }
              .td:last-child{
                border-right: 0;
              }

            }
            .tr:last-child{
              border-bottom: 0;
            }
            .tr:hover{
              background: rgba(23, 42, 68, 0.61);
            }
          }
        }
      }
    }
    .smallChart-boxes {
      display: flex;
      width: 100%;
      height: 40%;
      gap: 10px;

      .chart-box {
        width: 50%;
        height: 100%;
        position: relative;
        .title-box {
          padding: 12px;
          position: absolute;
          top: 0;
          left: 0;
        }
        .chartbg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
        .chart {
          width: 100%;
          height: 100%;
        }
      }
    }

    .scatter-chart {
      width: 100%;
      height: calc(60% - 20px);
      position: relative;
      .chartbg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      .title-box {
        padding: 12px;
        position: absolute;
        top: 0;
        left: 0;
      }
      .chart {
        width: 100%;
        height: 100%;
      }
    }
  }
}
