.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    background: radial-gradient(#0A2141, #000004);
    justify-content: center;

    .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 0;
    }

    .half-box{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        gap: 30px;
        
       .title-box{
        margin-bottom: 60px;
        
        .title{
            font-size: 28px;
            color: white;
            font-weight: 600;
            line-height: 38px;
        }
       }
        .input-box{
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .input{
                display: flex;
                flex-direction: column;
                gap: 6px;

                .label{
                    font-weight: 400;
                    color: rgb(229, 236, 248);
                }
                .ant-input-affix-wrapper{
                    background: rgb(255, 255, 255);
                    border-radius: 6px;
                    border: 1px solid #A2A2A6;
                    padding: 8px 10px;
                    color: #667085;

                    .ant-input{
                        color: #667085;
                        padding-left: 4px;
                    }
                    .ant-input::placeholder{
                        color: #b3b9c5;
                    }
                }
            }
        }
        .button{
            background: #316FFF;
            width: 40%;
            padding: 8px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 500;
            border-radius: 6px;
            transition: 0.25s;
            cursor: pointer;
        }
        .button:hover{
            background: #1c4ec5;
        }
    }
}