@import '~antd/dist/antd.dark.less'; 

@primary-color: #138dff;

//AINews ToolTip✨
.@{popover-prefix-cls} {
    &-content {
      position: relative;
    }
    &-inner{
      background: #081730dc;
      border: 1px solid #0a3b8a;
      border-radius: 12px;
      &-content{
        padding: 8px 10px;
        .listTooltip{
            font-size: 13px;
           .box{
            display: flex;
            gap: 10px;
            .label{
                color: #529be0;
                position: relative;
            }
            .label::after{
                content: "";
                position: absolute;
                top: 50%;
                right: -5px;
                width: 1px;
                height: 60%;
                background: rgba(19, 141, 255, 0.397);
                transform: translateY(-50%);
            }
           }
        }
      }
    }
    &-arrow{
        &-content {
            background: #081730dc;
            --antd-arrow-background-color: transparent;
            border: 1px solid #0a3b8a;
        }
    }
}

//Logout Modal✨
.ant-modal-root{
    .ant-modal-wrap{
      width: 100%;
      height: 100%;
      overflow: hidden;
      .ant-modal{
        width: 15vw !important;
        .ant-modal-content{
          background: #071733ee;
          border: 1px solid #09224b;
          .ant-modal-close{
            display: none;
          }
          .ant-modal-body{
            padding:16px 20px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            .title{
              font-size: 16px;
            }
            .btn-box{
              display: flex;
              gap: 8px;
              align-items: center;
              width: 100%;
              
              div{
                width: 50%;
                padding: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 16px;
                cursor: pointer;
                transition: 0.25s;
              }
              .confirm{
                background: #135eff;
              }
              .cancel{
                background: #124472;
              }
              div:hover{
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
}